{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
<!-- https://stackoverflow.com/questions/40297763/how-to-disable-google-analytics-on-localhost -->
<script>
    var host = window.location.hostname;
    if(host != "localhost") {
        var script = document.createElement('script');
        script.src = "https://eu.umami.is/script.js";
        script.async = true;
        script.dataset.websiteId = "ff42c1d4-d7db-4925-af13-c30c26df5816";
        document.head.appendChild(script);
    }
</script>
<link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
<link rel="manifest" href="/favicon_io/site.webmanifest">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0K2EFCEZGW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0K2EFCEZGW');
</script>
{{- /* Head custom content area end */ -}}