{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<style>
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
</style>
<script async src="https://eu.umami.is/script.js" data-website-id="ff42c1d4-d7db-4925-af13-c30c26df5816"></script>